fastapi[all]
uvicorn
sqlmodel
asyncpg
motor
python-dotenv
fastapi-users
passlib
python-jose
email-validator
pydantic
black
ruff
pytest
pytest-asyncio
httpx
python-dotenv
pydantic-settings
psycopg2
asyncpg
